{% extends 'admin/admin.base.html.twig' %}

{% block title %}Ajouter un élément{% endblock %}

{% block content %}

    <div class="container-fluid col-9 mt-5">
        <h2 class="ps-5">Ajouter un élément</h2>
        <div class="shadow-lg p-5 m-5 bg-body-tertiary rounded">
            {% include 'admin/item/_form.html.twig' %}
        </div>
    </div>

{% endblock %}
