{#_footer.html.twig#}

<nav class="navbar bg-secondary d-flex px-4">
    <div>
        <p>©2023 - Tracker de Saveurs</p>
    </div>
    <div class="d-flex align-content-center">
        <a class="text-decoration-none" href="#"><p class="px-2">Accueil</p></a>
        <a class="text-decoration-none" href="#"><p class="px-2">A propos</p></a>
        <a class="text-decoration-none" href="#"><p class="px-2">FAQs</p></a>
    </div>
    <div class="d-flex">
        <a href="https://www.facebook.com/?lang=fr" target="_blank">
            <i class="bi bi-facebook px-2"></i>
        </a>
        <a href="https://twitter.com/?lang=fr" target="_blank">
            <i class="bi bi-twitter px-2"></i>
        </a>
        <a href="https://instagram.com/?lang=fr" target="_blank">
            <i class="bi bi-instagram px-2"></i>
        </a>
    </div>
</nav>


