<footer class="position-fixed w-100 d-flex flex-wrap justify-content-between align-items-center border-top p-3 bottom-0">
    <div class="col-md-4 d-flex align-items-center">
        <span class="mb-md-0 text-light">©2023 - Trackers de Saveurs</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a class="text-light" href="https://www.facebook.com/?lang=fr" target="_blank">
                <i class="bi bi-facebook"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-light" href="https://twitter.com/?lang=fr" target="_blank">
                <i class="bi bi-twitter"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-light" href="https://instagram.com/?lang=fr" target="_blank">
                <i class="bi bi-instagram"></i>
            </a>
        </li>
    </ul>
</footer>
