<nav class="navbar navbar-expand-lg sticky-top bg-primary px-5 justify-content-between">
    <a class="navbar-brand link-light d-flex align-items-center mx-auto mx-md-0" href="/">
        <img src="{{ asset('build/images/tds_logo.png') }}" width="70px" alt="" id="logo">
        <h1 class="ps-4">Tracker de Saveurs</h1>
    </a>
    <div class="d-flex gap-2 mx-auto mx-md-0 mb-3 mb-md-0">
        {% if app.user %}
            <a href="{{ path('favorite_index') }}">
                <button class="btn btn-light" style="min-width: 125px;" type="button">Profil</button>
            </a>
            <a href="{{ path('login_logout') }}">
                <button class="btn btn-danger" style="min-width: 125px;"  type="button">Déconnexion</button>
            </a>
        {% endif %}
        {% if app.user is null %}
            <a href="{{ path('login_index') }}">
                <button class="btn btn-light" style="min-width: 125px;"  type="button">Connexion</button>
            </a>
        {% endif %}
    </div>
</nav>
