<nav class="navbar navbar-expand-lg sticky-top bg-primary px-5">
    <div class="container-fluid">
        <a class="navbar-brand link-light d-flex align-items-center" href="/">
            <img src="{{ asset('build/images/tds_logo.png') }}" width="70px" alt="" id="logo">
            <h1 class="ps-4">Tracker de Saveurs</h1>
        </a>
        <div>
            {% if app.user %}
                <a href="{{ path('app_favorite') }}">
                    <button type="button" class="btn btn-secondary me-2">Profil</button>
                </a>
            {% endif %}
            {% if app.user is null %}
                <a href="{{ path('app_login') }}">
                    <button type="button" class="btn btn-light">Connexion</button>
                </a>
            {% endif %}

            {% if app.user %}
                <a href="{{ path('app_logout') }}">
                    <button type="button" class="btn btn-danger">Déconnexion</button>
                </a>
            {% endif %}
        </div>
    </div>
</nav>
