
    {% if restaurants|length == 0 %}
        <p>Aucun restaurant trouvé.</p>
    {% else %}
        <h1>Résultats de la recherche</h1>
    <div class="result d-flex">
        {% for restaurant in restaurants %}
            {% include 'restaurant/_restaurant.html.twig' %}
        {% endfor %}
        {% include '/home/_map.html.twig' %}
    </div>
    {% endif %}
