{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-fluid d-flex">
        <div class="pt-5">
            <h1 class="text-start ps-5">
                Bienvenue!
            </h1>
            <p class="py-3 ps-5 fs-5">
                Trouvez le restaurant parfait pour vous en quelques clics grâce à notre site !
                Que vous suiviez un régime alimentaire particulier ou que vous ayez des restrictions budgétaires,
                notre outil de filtrage intuitif vous permettra de trouver rapidement les meilleurs restaurants
                de votre ville.<br><br>
                Dites adieu aux heures de recherche fastidieuse et bonjour à une expérience culinaire
                délicieuse et personnalisée !
            </p>
            <div class="container-fluid d-sm-block shadow-lg p-5 m-5 bg-body-tertiary rounded" id="home_form">
                <input class="form-control " type="search" placeholder="Quoi ?" aria-label="Search">
                <input class="form-control mt-4" type="search" placeholder="Où ?" aria-label="Search">
                <button class="btn btn-primary mt-4" type="submit">Rechercher</button>
            </div>
        </div>
        <div class="ms-4">
            <img src="{{ asset('build/images/fruits.jpg') }}"
                 class="img-fluid"
                 id="home_img"
                 alt="">
        </div>
    </div>

{% endblock %}
