{#{% include 'search_bar.html.twig' with {'form': form} %}#}

{% extends 'base.html.twig' %}

{% block search %}
    <h1>Rechercher un restaurant</h1>
    {% include '/home/_SearchBar.html.twig' %}
    {% include '/home/_search_results.html.twig' %}
    {% include '/home/_map.html.twig' %}

{% endblock %}
