
{% block content %}
    {% if restaurants|length == 0 %}
        <p>Aucun restaurant trouvé.</p>
    {% else %}
        <h1>Résultats de la recherche</h1>
        <ul>
            {% for restaurant in restaurants %}
                <li>{{ restaurant.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
