{% extends 'base.html.twig' %}

{% block title %}Confirmation de réservation{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Votre réservation est confirmée !</h1>
        <p>Nous vous remercions pour votre réservation. <br>
            Nous vous avons envoyé un récapitulatif de votre réservation par mail.</p>
        <a href="{{ path('reservation_list') }}">Voir mes réservations</a>
    </div>
{% endblock %}
