{% extends 'admin/admin.base.html.twig' %}

{% block title %}Favoris{% endblock %}

{% block content %}
    <div class="shadow-sm p-5 bg-body-tertiary rounded">
        <h1 class="text-center mb-5">Favoris</h1>
        {% if app.user.favorites is not empty %}
            {% for restaurant in app.user.favorites %}
                {% include 'restaurant/_restaurant.html.twig' %}
            {% endfor %}
        {% else %}
            <p class="text-center">Aucun favori</p>
        {% endif %}
    </div>
{% endblock %}
