{% if restaurants|length == 0 %}
    <p>Aucun restaurant trouvé.</p>
{% else %}
    <div class="container">
        <h3 class="text-center mb-4">Résultats</h3>
        <div class="d-flex flex-row flex-wrap justify-content-center">

            {% for restaurant in restaurants %}
                {% include 'restaurant/_restaurant.html.twig' %}
            {% endfor %}
<div class="flex-shrink-1">
            {% include 'search/_map.html.twig' %}
</div>
        </div>
    </div>

{% endif %}
