@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

$primary: #336EA4;
$light: #fffbfb;
$secondary:#D6E2ED;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#home_form {
    max-width: 600px;
}
#home_img {
        width: 70rem;
        height: auto;
}




