@import "_base.scss";
@import "_sidebar.scss";
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin:0;
    height: 100%;
}

#home_form {
    max-width: 600px;
}

.my-form-class input[type="text"],
.my-form-class select {
    width: 100%;
    max-width: 400px;
}

.image-reservation {
    object-fit: cover;
    width: 100%;
    height: 400px;
}
