@import "./base";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

main {
    overflow-x: auto;
    overflow-y: hidden;
}

.form input[type="text"],
.form select {
    width: 100vw;
    max-width: 400px;
}

.image-reservation {
    object-fit: cover;
    width: 100vw;
    height: 400px;
}

/* CSS for adjusting the background container */
.bg-image {
    height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

:root {
    --navbar-height: 96px;
    --footer-height: 56px;
}
