{% extends 'admin/admin.base.html.twig' %}

{% block title %}Modifier le restaurant{% endblock %}

{% block content %}
    <div class="shadow-sm p-5 bg-body-tertiary rounded">
            <h1 class="text-center">Modifier le restaurant</h1>
            {{ form_start(form) }}
            {{ form_end(form) }}
    </div>

{% endblock %}

