{% extends 'admin/admin.base.html.twig' %}

{% block title %}Nouveau restaurant{% endblock %}
{% block search %}{% endblock %}

{% block content %}
    <div class="shadow-sm p-5 bg-body-tertiary rounded">
            <h1 class="text-center">Nouveau restaurant</h1>
            <div class="mb-2">
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
