{% extends 'base.html.twig' %}

{% block title %}New Restaurant{% endblock %}

{% block body %}
<h1> Inscrivez votre restaurant</h1>

    {{ form_start(form) }}

    {{ form_end(form) }}
{% endblock %}
