{% extends 'admin/admin.base.html.twig' %}

{% block title %}Favoris{% endblock %}

{% block content %}
    <div class="col-9">
        <h1>Favoris</h1>
        {% if app.user.favorites is not empty %}
            {% for restaurant in app.user.favorites %}
                {% include 'restaurant/_restaurant.html.twig' %}
            {% endfor %}
        {% else %}
            <p>Aucun favoris</p>
        {% endif %}
    </div>
{% endblock %}
