<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ menu.name }}</h5>
        <p class="card-text">{{ menu.description }}</p>

{#        <h5 class="card-title">{{ menu.name }}</h5>#}
{#        <p class="card-text">{{ menu.description }}</p>#}

        <a href="#" class="card-link">Éditer</a>
        {#            Controller ressemble new créer nouvelle méthode #}
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
