<div class="col-3">
    <div class="flex-shrink-0 p-3" style="width: 280px;">
        <a href="/"
           class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
            <svg class="bi pe-none me-2" width="30" height="24">
                <use xlink:href="#bootstrap"/>
            </svg>
            <span class="fs-5 fw-semibold">Accueil</span>
        </a>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    Tableau de bord
                </button>
                <div class="collapse show" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
{#                        <li><a href="{{ path('dashboard_index') }}"#}
{#                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">Afficher les menus</a>#}
{#                        </li>#}
                        <li><a href="{{ path('dashboard_new') }}"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ajouter un menu</a>
                        </li>
                        <li><a href="{{ path('dashboard_item') }}"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ajouter un élément</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Agenda
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">Aperçu</a>
                        </li>
                        <li><a href="#"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">Semaines</a>
                        </li>
                        <li><a href="#"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">Mois</a>
                        </li>
                        <li><a href="#"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">Années</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    Compte
                </button>
                <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profil</a>
                        </li>
                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Paramètres</a>
                        </li>
                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Déconnexion</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
