{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    {% for menu in menus %}
    {% include 'menu/_menu.html.twig' %}
    {% else %}
    <div>
        Il n'y a pas encore de menus.
    </div>
    {% endfor %}

{% endblock %}
