<form method="post" action="{{ path('timeslot_delete', {'id': timeSlot.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce créneau ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ timeSlot.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
