{% extends 'admin/admin.base.html.twig' %}

{% block title %}Modifier les créneaux horaire{% endblock %}

{% block content %}
    <div class="col-6">
        {% include 'time_slot/_form.html.twig' %}
    </div>
{% endblock %}
