{% extends 'admin/admin.base.html.twig' %}

{% block title %}Nouveau créneau horaire{% endblock %}

{% block content %}
    <div class="col-6">
        {% include('time_slot/_form.html.twig') %}
    </div>
{% endblock %}
