{% extends 'admin/admin.base.html.twig' %}

{% block content %}
    <div class="shadow-sm p-5 bg-body-tertiary rounded">
        <h1 class="text-center">Modifier {{ item.name }}</h1>
        {% include 'admin/menu/_form.html.twig' %}
    </div>
{% endblock %}
