{% extends 'admin/admin.base.html.twig' %}

{% block title %}Liste des menus{% endblock %}

{% block content %}
    <div class="shadow-sm p-5 bg-body-tertiary rounded">
        <h1 class="text-center">Liste des menus</h1>
        <div class="d-flex row">
            {% for menu in menus %}
                {% include 'admin/menu/_card.html.twig' %}
            {% else %}
                <div class="text-center">
                    Il n'y a pas encore de menu.
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
